* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Adicionando Variaveis - CORES */
    --brand-color: #ef5f4c;
    --brand-color-secundary: #ff5943;
    --brand-color-hover: #8a1000;
    --background-color: #f9f9f9;
    --surface-color: #efefef;
    --sheleton-color: #d9d9d9;
    --shape-transparency: #ffffff8f;
    --text-color-primary: #313131;
    --text-color-secondary: #6c6c6c;

    /* Adicionando Variaveis - FONTES */
    --font-family-primary: 'Inter', sans-serif;
    --text-inter: 16px/150% var(--font-family-primary);
    --text-inter-lg: bold 32px/125% var(--font-family-primary);
    --text-inter-md: 14px/150% var(--font-family-primary);
    --text-inter-sm: 12px/150% var(--font-family-primary);
    --font-family-secondary: 'Poppins', sans-serif;
    --text-poppins: 16px/150% var(--font-family-secondary);
    --text-poppins-lg: bold 32px/125% var(--font-family-secondary);
    --text-poppins-md: 14px/150% var(--font-family-secondary);
    --text-poppins-sm: 12px/150% var(--font-family-secondary);
}

body {
    font: var(--text--inter-md);
    color: var(--text-color-primary);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: inherit;
}

p, span {
    font: var(--text-inter-md);
}

.link-click {
    color: var(--background-color);
    font: var(--text-inter-md);
}

.link-click:hover {
    color: var(--brand-color-hover);
    text-decoration: underline;
}

.container {
    padding-inline: 34px;
    max-width: 1200px;
    margin-inline: auto;
}