nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 12px;
}

nav .logo-name {
    font: var(--text-inter-lg);
    list-style: none;
    font-size: 1.5rem;
}

.logo-name {
    color: var(--background-color);
}

.surface-color {
    background: var(--brand-color-secundary);
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
}

nav ul li:last-child img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

nav ul li:first-child img {
    width: 24px;
    height: 24px;
}